/build/
/.metadata
/.recommenders
/RemoteSystemsTempFiles
/MySCUBA/.settings/
/MySCUBA/.project
/MySCUBA/.classpath
/MySCUBA-InventoryManagement-EJB/.settings/
/MySCUBA-InventoryManagement-EJB/.project
/MySCUBA-InventoryManagement-EJB/.classpath
/MySCUBA-InventoryManagement-EJBClient/.settings/
/MySCUBA-InventoryManagement-EJBClient/.project
/MySCUBA-InventoryManagement-EJBClient/.classpath
/MySCUBA-InventoryManagement-EJBEAR/.settings/
/MySCUBA-InventoryManagement-EJBEAR/.project